/********************* Вспомогательные классы *********************/
.hidden {
  display: none;
}

/*** Float ***/
.pull-left {
	float: left;
}
.pull-right {
	float: right;
}
.clearfix {
	clear: both;
	.clearfix();
}

/*** Align ***/
.align-left {
	text-align: left;
}
.align-center {
	text-align: center;
}
.align-right {
	text-align: right;
}

/*** Typography ***/
.bordered {
	text-align: center;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	margin-top: 1.5em;
	margin-bottom: 1em;
}

/*** Others ***/
.h2_yellow, .materials_spec_l {
	color:#ffd800;
}
.materials_spec_r {
	font-style: italic;
	font-weight: bold;
}